<div class="justify-items-center rounded-[40px] bg-white/75 relative mx-auto box-border w-[636px] h-[900px] mb-[25px] mt-[100px] ">
  <div class="mb-[112px] flex flex-row gap-[340px] w-full box-border">
    <span class="absolute top-[25px] text-[#000000] text-[55px] font-poppins font-medium" style="left: 0; transform: translateX(0px);">
      Cadastro Empresarial
    </span>
    <p class="mr-[16px] break-words font-roboto text-[21px] text-black">
      <span class="bem-vindo-abateri-x-sub-31">Bem vindo ao</span><span class="text-[#779341]"> BateriX</span>
    </p>
    <p class="mt-[6px] break-words font-poppins text-[13px] text-gray-500">
      <span class="no-tem-conta-cadastre-se-sub-0">Já tem Conta?</span><br><span class="text-[#779341]">Login</span>
    </p>
  </div>
  <div class="flex flex-col gap-[30px]">
    <div class="flex flex-col w-[636px]">
      <label class="mb-[8px] text-[16px] text-black font-poppins">E-mail Empresarial</label>
      <input class="rounded-[9px] border border-[#4285F4] bg-white p-[19px_25px] text-[14px] text-gray-500 font-poppins" type="email-enterprise" placeholder="E-mail" />
    </div>
    <div class="flex flex-row gap-[26px]">

      <div class="flex flex-col w-[305px]">
        <label class="mb-[8px] text-[16px] text-black font-poppins">Nome da Empresa</label>
        <input class="rounded-[9px] border border-[#4285F4] bg-white p-[19px_25px] text-[14px] text-gray-500 font-poppins" type="text" placeholder="Nome" />
      </div>
      <div class="flex flex-col w-[305px]">
        <label class="mb-[8px] text-[16px] text-black font-poppins">Número de telefone</label>
        <input class="rounded-[9px] border border-[#4285F4] bg-white p-[19px_25px] text-[14px] text-gray-500 font-poppins" type="tel" placeholder="Número de telefone" />
      </div>
    </div>

    <div class="flex flex-col w-[636px]">
      <label class="mb-[8px] text-[16px] text-black font-poppins">Informe a cidade/estado</label>
      <input class="rounded-[9px] border border-[#4285F4] bg-white p-[19px_25px] text-[14px] text-gray-500 font-poppins"
      type="cidade-estado" placeholder="Informe a cidade/estado" />
    </div>
    <div class="flex flex-col mb-[30px] ">
      <label class="mb-[8px] text-[16px] text-black font-poppins">Informe um pouco sobre sua empresa</label>
      <input class="rounded-[9px] border border-[#4285F4] bg-white p-[55px_25px] text-[14px] text-gray-500 font-poppins" type="cidade-estado"
      placeholder="Pedimos essas informações para melhor entendermos quem serao nossos parceiros" />
    </div>

    <div class="flex justify-center">
      <button class="shadow-[0px_4px_19px_rgba(119,147,65,0.3)] rounded-[10px] bg-[#779341] p-[15px_6.1px] w-[330px] text-white text-[16px] font-poppins font-medium">Enviar solicitação</button>
    </div>
    <span class="flex justify-center break-words font-poppins text-[16px] text-[#000000]">
      Iremos analisar sua solicitação e entraremos em contato assim que possivel !
    </span>

  </div>
</div>
