<div class="bg-cover bg-center h-screen" style="background-image: url('assets/images/Background.png');">
  <div class="relative m-[0_18.9px_0_127px] flex box-sizing-border">
    <div class="relative flex flex-row box-sizing-border">
      <div class="m-[22.3px_56px_0_0] flex flex-col box-sizing-border">
        <div class="relative flex self-start p-[0_7.7px_0_0] box-sizing-border">
          <img class="absolute top-[34px] right-[105px] w-[145px] h-[13px]" src="/assets/images/vector_22_x2.svg" alt="vector" />
          <span class="mr-[16px] w-[401px] break-words font-['Lora'] text-[45px] text-[#181820] leading-[1.1] drop-shadow-[2px_2px_4px_rgba(0,0,0,0.5)]">
            Entre em <span>Contato</span> com nossa equipe
          </span>
        </div>
        <div class="m-[0_0_31px_0] self-start w-[453px] h-[50px]"></div>
        <span class="break-words font-['Lora'] font-normal text-[24px] text-[#1E1E1E]">
          Se desejar, você pode entrar em contato com nossa equipe ou até mesmo
          fazer parte dela! ✨ <br /><br /><br />
          Preencha o formulário abaixo e aguarde nossa resposta. Estamos ansiosos
          para colaborar com você! 📋😊
        </span>
      </div>
      <div
        class="relative m-[0_126.7px_79.7px_0] p-[109.4px_0_0_0] w-[484.1px] h-[279.8px] box-sizing-border">
        <img src="/assets/images/imageView.png" alt="Time-Dev">
      </div>
    </div>
  </div>
</div>


<div class="bg-[#E6E9EF] m-[0_120px_76.8px_120px] self-start w-[453px] h-[0px]"></div>

<div class="flex justify-center">
  <div class="w-full max-w-[1200px]"> <!-- Ajuste max-w conforme necessário -->
    <div class="m-[0_127.1px_19.5px_127.1px] flex self-start box-sizing-border">
      <p class="mr-[16px] w-[221px] break-words font-roboto text-[21px] text-black">
        <span class="bem-vindo-abateri-x-sub-31">Bem vindo ao</span><span class="text-[#779341]"> BateriX</span>
      </p>
    </div>
    <div class="m-[0_127px_101.5px_127px] inline-block break-words font-['Poppins'] font-medium text-[55px] text-[#000000]">
      Contate nosso time!
    </div>

    <div class="m-[0_127px_50px_127px] flex flex-col items-start max-w-[900px] w-full">
      <div class="relative flex flex-col box-sizing-border w-full">
        <div class="mb-[30px] flex flex-col box-border w-full">
          <label class="mb-[8px] text-[16px] text-black font-poppins">Motivo</label>
          <input class="rounded-[9px] border border-[#4285F4] bg-white p-[19px_25px] w-full text-[14px] text-gray-500 font-poppins" type="text" placeholder="Motivo" />
        </div>
        <div class="m-[0_0px_30px_0] flex flex-row justify-between w-full box-sizing-border">
          <div class="relative m-[0_50.3px_0_0] w-[48%] box-sizing-border">
            <div class="mb-[36px] flex flex-col box-border w-full">
              <label class="mb-[13px] text-[16px] text-black font-poppins">Nome</label>
              <input class="rounded-[9px] border border-[#4285F4] bg-white p-[19px_25px] w-full text-[14px] text-gray-500 font-poppins" type="text" placeholder="Nome" />
            </div>
          </div>
          <div class="relative w-[48%] box-sizing-border">
            <div class="mb-[36px] flex flex-col box-border w-full">
              <label class="mb-[13px] text-[16px] text-black font-poppins">Número de telefone</label>
              <input class="rounded-[9px] border border-[#4285F4] bg-white p-[19px_25px] w-full text-[14px] text-gray-500 font-poppins" type="tel" placeholder="Número de telefone" />
            </div>
          </div>
        </div>
        <div class="mb-[10px] flex flex-col box-border w-full">
          <label class="mb-[8px] text-[16px] text-black font-poppins">Descreva detalhadamente o motivo do contato</label>
          <input class="rounded-[9px] border border-[#4285F4] bg-white p-[19px_25px] w-full text-[14px] text-gray-500 font-poppins" type="text" placeholder="Descreva detalhadamente o motivo do contato" />
        </div>
      </div>
    </div>

    <div class="flex w-full justify-center">
      <div class="shadow-[0px_4px_19px_0px_rgba(119,147,65,0.3)] rounded-[10px] bg-[#779341] relative m-[0_0_117.5px_8.2px] flex self-center w-[625px] h-[85px] box-sizing-border">
        <button class="shadow-[0px_4px_19px_rgba(119,147,65,0.3)] rounded-[10px] bg-[#779341] w-full h-full text-white text-[16px] font-poppins font-medium text-center">Enviar solicitação</button>
      </div>
    </div>


  </div>
</div>

<div class="bg-[#E6E9EF] m-[0_120px_76.8px_120px] self-start w-[453px] h-[0px]"></div>

