<footer class="footer bg-white flex flex-col box-border">
  <main class="footer-content flex flex-wrap p-5 max-w-6xl mx-auto">
    <div class="footer-logo flex-1 mr-24">
      <img src="/assets/images/logo2.png" alt="Logo-2" class="w-12 h-9">
    </div>
    <div class="footer-sections flex flex-3 flex-wrap gap-9">
      <div class="footer-section flex-1">
        <h3 class="footer-section-title mb-6 text-lg font-semibold text-gray-900">Home</h3>
        <p class="footer-section-item mb-3.5 text-sm text-gray-900">Inicio</p>
        <p class="footer-section-item mb-3.5 text-sm text-gray-900">Integração empresarial</p>
        <p class="footer-section-item mb-3.5 text-sm text-gray-900">Comunicação</p>
      </div>
      <div class="footer-section flex-1">
        <h3 class="footer-section-title mb-6 text-lg font-semibold text-gray-900">Sobre</h3>
        <p class="footer-section-item mb-3.5 text-sm text-gray-900">Integrantes</p>
        <p class="footer-section-item mb-3.5 text-sm text-gray-900">Nossa História</p>
      </div>
      <div class="footer-section flex-1">
        <h3 class="footer-section-title mb-6 text-lg font-semibold text-gray-900">Contato</h3>
        <p class="footer-section-item mb-3.5 text-sm text-gray-900">Empresarial</p>
        <p class="footer-section-item mb-3.5 text-sm text-gray-900">Pessoal</p>
      </div>
      <div class="footer-section flex-1">
        <h3 class="footer-section-title mb-6 text-lg font-semibold text-gray-900">Blog</h3>
        <p class="footer-section-item mb-3.5 text-sm text-gray-900">Temas</p>
        <p class="footer-section-item mb-3.5 text-sm text-gray-900">Discussões</p>
      </div>
      <div class="footer-section flex-1">
        <h3 class="footer-section-title mb-6 text-lg font-semibold text-gray-900">Brasília - DF</h3>
        <p class="footer-section-item mb-3.5 text-sm text-gray-900">Estamos localizados na capital do país.</p>
      </div>
      <div class="footer-social flex-1 text-center">
        <div class="social-icons flex justify-center gap-5">
          <img src="/assets/images/twitter.png" alt="logo-twitter">
          <img src="/assets/images/facebook.png" alt="Social Icon 2">
          <img src="/assets/images/linkedin.png" alt="Social Icon 3">
        </div>
        <h3 class="footer-social-title mt-6 text-lg font-semibold text-gray-900">Redes Sociais</h3>
      </div>
      <div class="footer-apps flex-1 text-center">
        <h5 class="footer-apps-title mb-6 text-lg font-semibold text-gray-900 text-justify whitespace-nowrap">
          Apps (Em breve)
        </h5>
        <!-- ALINHAR ISSO DEPOIS -->
        <img src="/assets/images/appStore.png" alt="App Store Logo" class="w-24 h-12 object-contain">
        <img class="" src="/assets/images/googlePlayStore.png" alt="Google Play Store Logo" class="w-24 h-12 object-contain">
      </div>
    </div>
  </main>
</footer>
