<div class="bg-cover bg-center h-screen" style="background-image: url('assets/images/Background.png');">
  <div class="relative m-[0_18.9px_0_127px] flex box-sizing-border">
    <div class="relative flex flex-row box-sizing-border">
      <div class="m-[22.3px_56px_0_0] flex flex-col box-sizing-border">
        <div class="relative flex self-start p-[0_7.7px_0_0] box-sizing-border">
          <img class="absolute top-[34px] right-[155px] w-[150px] h-[13px]" src="/assets/images/vector_22_x2.svg" alt="vector" />
          <span class="mr-[16px] w-[401px] break-words font-['Lora'] text-[45px] text-[#181820] leading-[1.1] drop-shadow-[2px_2px_4px_rgba(0,0,0,0.5)] ">
            Nossa Historia
          </span>
        </div>
        <div class="m-[0_0_31px_0] self-start w-[453px] h-[50px]"></div>
        <span class="break-words font-['Lora'] font-normal text-[24px] text-[#1E1E1E]">
          Baterix é um projeto dedicado ao descarte correto de<br>
          baterias, unindo pessoas que desejam descartar<br>
          adequadamente com empresas especializadas.
          <br /><br /><br />
          Através do nosso site, facilitamos a conexão entre os<br>
          descartadores e as empresas de reciclagem, promovendo a<br>
          sustentabilidade e a proteção ambiental.
        </span>
      </div>
      <div
        class="relative m-[0_126.7px_79.7px_0] p-[109.4px_0_0_0] w-[484.1px] h-[279.8px] box-sizing-border ml-[auto]">
        <img src="/assets/images/imageView.png" alt="Time-Dev">
      </div>
    </div>
  </div>
</div>


<div class="flex self-start w-[143px] box-sizing-border">
  <div class="rounded-[4px] bg-[#257251] flex p-[13px_0_13px_0.8px] w-[143px] h-[fit-content] box-sizing-border">
    <span class="break-words font-['Lora'] font-semibold text-[14px] text-[var(--white-4,#FFFFFF)]">
      Junte-se a nos
    </span>
  </div>
</div>


<div class="m-[234.4px_0_0_0] flex flex-col items-center box-sizing-border">
  <div class="relative m-[0_0_64px_9.2px] flex p-[0_5.7px_0_0] box-sizing-border">
    <img class="absolute top-[34px] right-[155px] w-[150px] h-[13px]" src="/assets/images/vector_22_x2.svg" alt="vector" />
    <span class="relative break-words font-['Lora'] font-normal text-[45px] text-[#181820]">
      Nossa Historia
    </span>
  </div>
  <div class="relative m-[0_23.4px_0_0] flex p-[14.9px_0_0_0] box-sizing-border">
    <div class="bg-[#E6E9EF] absolute left-[9.2px] top-[0px] w-[684px] h-[0px]">
    </div>


    <div class="">
      <div class="bg-[#E6E9EF] absolute left-[9.2px] top-[0px] w-[684px] h-[0px]">
      </div>
      <div class="relative flex flex-col items-end box-sizing-border">
        <div class="m-[0_12px_66.1px_0] flex flex-row w-[fit-content] box-sizing-border">

          <div class="flex flex-col box-sizing-border">
            <div class="m-[0_0.4px_9.9px_0.4px] inline-block self-start break-words font-['Chivo'] font-normal text-[24px] text-[#000000]">
              04/24
            </div>
            <span class="break-words font-['Montserrat'] font-medium text-[16px] text-[#595959]">
              🌍 Iniciamos nossos pensamentos sobre o descarte incorreto das baterias e como isso afetava o meio ambiente.
            </span>
          </div>
        </div>
        <div class="m-[0_8.2px_66.3px_8.2px] flex flex-col w-[fit-content] box-sizing-border">
          <div class="m-[0_0.4px_9.7px_0.4px] inline-block self-start break-words font-['Chivo'] font-normal text-[24px] text-[#000000]">
            04/24
          </div>
          <span class="break-words font-['Montserrat'] font-medium text-[16px] text-[#595959]">
            💡 Refletimos sobre como melhorar esse descarte e questionamos as razões por trás dessa problemática.
          </span>
        </div>
        <div class="m-[0_8.5px_66.6px_8.5px] flex flex-col w-[fit-content] box-sizing-border">
          <div class="m-[0_0.4px_9.4px_0.4px] inline-block self-start break-words font-['Chivo'] font-normal text-[24px] text-[#000000]">
            05/24
          </div>
          <span class="break-words font-['Montserrat'] font-medium text-[16px] text-[#595959]">
            🤝 Identificamos que muitas vezes o problema ocorre devido à falta de relacionamento adequado.
          </span>
        </div>
        <div class="flex flex-col w-[fit-content] box-sizing-border">

          <div class="m-[0_0.4px_9.1px_0.4px] inline-block self-start break-words font-['Chivo'] font-normal text-[24px] text-[#000000]">
            06/24
          </div>
          <span class="break-words font-['Montserrat'] font-medium text-[16px] text-[#595959]">
            🌱 Atualmente, estamos focados em melhorar esse relacionamento entre empresas e pessoas que buscam um descarte responsável para contribuir positivamente com a situação ambiental.
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
